<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
<input type="text" class="form-control" placeholder="Username">
<br>
<input type="password" class="form-control" placeholder="Password">
<br>
<button type="submit" >Submit</button>

</form>